#
# SPDX-FileCopyrightText: The LineageOS Project
# SPDX-License-Identifier: Apache-2.0
#

allow radio platform_app:udp_socket { getattr read setopt shutdown write };
allow radio scheduling_policy_service:service_manager find;
r_dir_file(radio, cgroup)
